* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

main {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url("https://cdn.asiatatler.com/asiatatler/i/hk/2019/12/02174815-hong-kong-tatler-new-years-eve-2020-dining-parties_cover_2000x1336.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 1;
}

main::before {
  content: '';
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  position: absolute;
}

nav {
  position: absolute;
  right: 0;
  top: 0;
  margin: 2rem;
  z-index: 1;
}

nav ul li {
  display: inline;
  list-style: none;
  margin: 0 2rem;
  padding-bottom: 2px;
  font-size: 1.5rem;
  cursor: pointer;
}

.hero {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hero .countdown {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 2rem;
}

.hero .countdown > div {
  width: 175px;
  margin: 1rem;
  text-align: center;
  font-size: 4rem;
  color: grey;
  filter: contrast(100);
}

.hero .countdown > div > span {
  font-size: 1rem !important;
  padding-left: 1rem;
  color: white !important;
}

.knownledge {
  position: relative;
  top: 100%;
  height: 100%;
  color: black;
  display: grid;
    background-image: url("https://d.newsweek.com/en/full/1535169/christmas-winter-holiday-parade-war-christmas.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  border-top: 1px solid rgba(255,255,255, 0.5);
}

.knownledge::before {
  content: '';
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  position: absolute;
}

.wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.wrapper h2 {
  margin-top: 1rem;
  margin-bottom: 0;
  color: white;
}

.big-card {
  padding: 3rem 4rem;
  border-radius: 10px;
}

.grid-cards {
  display: grid;
  grid-template-columns: repeat(5, auto);
  padding: 2rem 2rem 0 2rem;
}

.card {
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin: 2rem .5rem;
  padding: 2rem;
  text-align: center;
  background: white;
  width: 145px;
}

/* .card:hover::before {
  width: 28px;
  height: 16px;
  background: transparent;
  border: 5px solid white;
  display: inline-block;
  position: absolute;
  top: -20px;
  left: 37px;
  content: "";
  border-radius: 10px;
  transform: rotate(-130deg);
  -ms-transform: rotate(-130deg);
  -webkit-transform: rotate(-130deg);
}

.card:hover::after {
  width: 16px;
  height: 23px;
  background: transparent;
  border: 5px solid white;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 45px;
  content: "";
  border-radius: 50px;
  transform: rotate(40deg);
} */

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  cursor: pointer;
  transform: translateY(-15px);
}

.card p {
  margin-top: 1rem;
}

.card img {
  width: 75px;
}

h2 {
  font-size: 4rem;
  text-rendering: optimizeLegibility;
  margin-bottom: 2rem;
  text-align: center;
}

h2 span {
  color: orangered;
}

.hvr-underline-from-left {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: orangered;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}


@media(max-width: 992px) {
  .hero .countdown {
    grid-template-columns: repeat(1, auto);
  }

  nav { margin: 1rem }

  h2 { 
    font-size: 2rem;
    margin-top: 2rem;
	  margin-bottom: 2rem;
    width: 100vw;
 }

  nav ul li { 
    font-size: .8rem;
    margin: 0 1rem;
  }

  .hero .countdown {
    grid-gap: 1rem;
  }

  .hero .countdown > div {
    font-size: 2rem;
    width: auto;
  }

  .grid-cards {
    grid-template-columns: repeat(2, auto);
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .card {
    margin: 1rem .5rem;
    padding: 1rem 2rem;
  }

  .wrapper h2 {
    margin-top: 5rem;
    margin-bottom: 1rem;
  }

}